/*Задаем стиль body*/
body {
    background-color: lightblue;
    background-image: url("/images/fon.jpg");
    background-attachment: fixed;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
    margin: 0;
}

/*Задаем стиль для все <p>*/
p {
    padding: 0;
    margin: 0;
}

/*Задаем стиль для <div> в <body>*/
.body_wrap {
    width: 70%;
    margin: auto;
    padding: 15px;
    background: inherit;
}

.chat_welcome {
    text-align: center;
    color: blue;
}

/*Задаем стиль ошибки при вводе имени и текста пользователем*/
.error {
    color: #ff0000;
}

/*Обертываем весь вывод одного полного комментария*/
.one_single_comment {
    position: relative;
    width: 100%;
    margin: 15px 0;
    z-index:59;
}

/*Обертываем время  и пользрвателя*/
.date_time {
    padding-bottom: 5px;
}

/*Задаем стиль слова Пользователь комментариев в конце*/
.polzovatel {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 3px;
}

/*Задаем стиль вывода времени*/
.show_time{
    float: right;
    margin-right: 37%;
}

/*Обертываем комментарии и текст*/
.text_wrap {
    position: relative;
    width: 100%;
    float: none;
}

/*Задаем .clearfix для .text_wrap*/
.clearfix {
    overflow: auto;
}

/*Задаем стиль вывода текста комментариве в конце*/
.textes {
    float: left;
    width: 65%;
    border: 1px solid green;
    background-color: yellow;
    border-radius: 5px;
    overflow: auto;
}

/*Задаем стиль для <form> Чтоб оставалось всегдана экране*/
.form{
   width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    top: 0;
/*    position: absolute;
    bottom: 0;*/
    padding: 5px;
    opacity: 1;
    z-index:99;
    background: inherit;
    /*margin-bottom: 20px;*/
}